.center{
     width: 100%;
     display: flex;
     flex-direction: column;
     margin: 30px  0;
}
.locationHeading{
     font-weight: 400;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
.para{
     font-size: 20px;
     font-weight: 100;
     max-width: 50rem;
     margin: auto;
     text-align: center;
     color: rgb(105, 105, 105);
}