.navbar{
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     padding:10px 25px;
}
.rightNavbar{
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 500;
     color: #fff;
     font-size: 17px;
     color: rgb(214, 214, 214);
     cursor: pointer;
}
.userIcon{
     color: rgb(214, 214, 214);
     font-size: 18px;
     display: none;
}
@media (max-width:800px){
     .userIcon{
          display: block;
     }
     .rightNavbar{
          display: none;
     }
}