.navbar{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding:10px;
}
.rightNavbar{
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 500;
     color: #fff;
     font-size: 18px;
     color: rgb(214, 214, 214);
     cursor: pointer;
}