.navbar{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 25px 10px;
}
.rightNavbar{
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 600;
}